body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content:center; 
    align-items: center;
    min-height: 100vh; 
}
section header{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
section header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
section header ul li{
    list-style: none;
    margin-left: 20px;
}
section header ul li a{
    color: #111;
    text-decoration: none;
    font-size: 13px;
}
section header ul li button{
    background-color: #4584ef;
    border: none;
    outline: none;
    padding: 8px 14px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}
section .main{
    width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section .main .searchbox{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
section .main .searchbox .search{
    width: 100%;
    padding: 13px;
    padding-left: 45px;
    padding-right: 20px;
    border-radius: 30px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}
section .main .searchbox .icon{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    padding: 12px 20px;
    justify-content: space-between;
    align-items: center;
    pointer-events: none; 
}
section .main .buttons{
    margin-top: 20px;   
}
section .main .buttons button{
    margin: 0 5px;
    padding: 12px 20px;
    color: #555;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 1px solid transparent;
    outline: none;
}
section .main .buttons button:hover{
   border-radius: 1px solid #4e1919;
}
section .main .lang{
    margin-top: 20px;
}
section .footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f2f2f2; 
}
section .footer .row{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(77, 20, 20,.05);
}
section .footer .row ul{
    display: flex;

}
section .footer .row ul li{
    list-style: none;
}
section .footer .row ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #5f6368;
    margin-right: 25px;
}

/*desktop View*/
@media (min-width:1024px){

}
/* Tablet view */
@media (min-width:769px) and (max-width:1023px){
    section header ul li button{
        background-color: yellow;
    }
}

/* mobile view */

@media (max-width:768px){
    section .main .searchbox .search{
        width: 78%;
    }
    section .main .searchbox .icon{
        width: 84%;
    }
    section .footer .row ul{
        display: block;
    }
    section header ul li button{
        background-color: rgb(120, 101, 128);
    }
}
